
.overall{
    width: 350px;
    height: 450px;
    /* padding: 10px; */
    margin-bottom: 25px;
    
}

.articleimg{
    width:350;
    height: 220px
}
.crdColor {
    background-color: #8CCCCB
}

p {
    font-size: 16px;
}

h4 {
    font-size: 20px;
}