.comment11{
    margin-left : 50px;
}

.comment12{
    margin-left : 100px;
}

.comment13{
    margin-left : 150px;
}

.displayOn{
    display: block
}

.displayOff{
    display:none
}

.new1{
    border-top: 1px dashed black;
}